{
  "disableAutoFileLineOpen": false,
  "disableAnonymisedMetricsLogging": false,
  "metricsUrl": "https://script.google.com/macros/s/AKfycbw-_PDVMxJAYEHER8STQ2Y1IFTKEgkI7HENBCo3fqJrHl_ayltuAwfQsAUI54QDz-FR9A/exec"
}
